<h1>Treegram </h1>
<h2>Your Favorite Tree Photosharing Service</h2>
<div class="row">
  <div class="col-md-4">
  <button name="button" class="btn btn-lg btn-success"><%= link_to 'Login', log_in_path %></button>
  <button name="button" class="btn btn-lg btn-success"><%= link_to 'Sign Up', new_user_path %></button>
    <div class="col-md-8">
      <img src="images/background.jpg"/>
    </div>
  </div>
</div>
